# Node modules
node_modules/

# Log files
npm-debug.log
yarn-error.log

# Environment variables
.env

# Build output
dist/
build/

# Dependency directories
.pnp/
.pnp.js

# Optional npm cache directory
.npm/

# Vercel configuration
vercel.json

# Local configuration files
*.local

# Coverage directory used by tools like istanbul
coverage/
